---
Language:        Cpp
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignOperands:   true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BraceWrapping:   
  AfterClass:      true
  AfterControlStatement: true
  AfterFunction:   true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Stroustrup
BreakBeforeTernaryOperators: true
ColumnLimit:     120
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentWidth:     4
NamespaceIndentation: All
PointerAlignment: Right
ReflowComments:  true
SpacesBeforeTrailingComments: 2
Standard:        Auto
TabWidth:        8
UseTab:          Never
DisableFormat: true
...

